<div id="<%= dom_id musician %>">
  <p>
    <strong>First name:</strong>
    <%= musician.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= musician.last_name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= musician.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= musician.password %>
  </p>

  <p>
    <strong>Instruments:</strong>
    <%= musician.instruments %>
  </p>

  <p>
    <strong>Local area:</strong>
    <%= musician.local_area %>
  </p>

</div>
