<div id="<%= dom_id inquiry %>">
  <p>
    <strong>Host first name:</strong>
    <%= inquiry.host_first_name %>
  </p>

  <p>
    <strong>Host last name:</strong>
    <%= inquiry.host_last_name %>
  </p>

  <p>
    <strong>Host email:</strong>
    <%= inquiry.host_email %>
  </p>

  <p>
    <strong>Host phone number:</strong>
    <%= inquiry.host_phone_number %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= inquiry.event_name %>
  </p>

  <p>
    <strong>Event location:</strong>
    <%= inquiry.event_location %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= inquiry.event_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= inquiry.start_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= inquiry.duration %>
  </p>

  <p>
    <strong>Musician:</strong>
    <%= inquiry.musician_id %>
  </p>

</div>
