<!DOCTYPE html>
<html>
<head>
  <title>LZ Music</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
  
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

  <!-- Your Rails assets -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- Bootstrap JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
          crossorigin="anonymous"></script>
</head>
<body>
  <header class="bg-dark">
  <!-- Main Header -->
  <header class="bg-dark">
    <div class="container-fluid px-4">
      <!-- Top Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark py-3">
        <a class="navbar-brand fs-2 fw-bold text-white" href="#">LZ Music</a>
        <button class="navbar-toggler border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
              <%= button_to "Sign out", destroy_musician_session_path,
                   method: :delete,
                   class: "btn btn-outline-light px-4 rounded-pill" %>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Navigation Tabs -->
      <div class="row g-0 mt-3">
        <div class="col-12 col-sm-3">
          <button class="w-100 py-3 border-0 text-white active" 
                  style="background-color: #3498db;">
            About
          </button>
        </div>
        <div class="col-12 col-sm-3">
          <button class="w-100 py-3 border-0 text-white"
                  style="background-color: #34495e;">
            Events
          </button>
        </div>
        <div class="col-12 col-sm-3">
          <button class="w-100 py-3 border-0 text-white"
                  style="background-color: #34495e;">
            Gallery
          </button>
        </div>
        <div class="col-12 col-sm-3">
          <button class="w-100 py-3 border-0 text-white"
                  style="background-color: #34495e;">
            Contact
          </button>
        </div>
      </div>
    </div>
  </header>
  </header>

  <main class="container-fluid py-4">
    <%= yield %>
  </main>
</body>
</html>